.features{
    text-align: center;
    background-color: #b9ffe500;
    border: 1px dotted rgb(84, 84, 84);

font-size: 10px;
}

#qotation{
    margin-left: 100px;
    display: none;
    
}
/*<span className='words ' >({totalwords.toUpperCase()}  DOLLARS )</span>*/
.total2{
    font-size: 13px;
    color: rgb(0, 60, 255);
    font-weight: 700;
}
.totalbottom{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(0, 60, 255);
    font-weight: 600;
}

.head{text-align: center;
    color: black !important;
}
.lastline{
    font-size: 9px;
    color: rgb(46, 46, 46);
}
#qotform{
    margin-bottom: 20px;
}
.logo{
    text-align: start;
    margin:10px;
}
.words{
    font-size: 13px !important;
}
#qotform{
    display: none;
}
.top{
    text-align: center;
    border: 1px dotted rgb(84, 84, 84);
  
    padding: 1px;
   
    font-size: 13px;
    font-weight: 600;
}
.row{
    
    
}
.adress{
    margin-left: 10px;
    font-size: 12px;
}
#qotation{
width: 740px;
}
.topsection{
    display: flex !important;
    justify-content: space-between;
}
.datedetail{
    font-size: 13px;
}
.imgdownline{
    padding: 0px;
    border-bottom: 4px solid black;
}

.qotationbutton{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #FF910F;
    background: #FFFFFF;
border: 3px solid #FF910F;
box-sizing: border-box;
border-radius: 12px;
padding: 10px;

}
.qotationbuttonmini{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FF910F;
    background: #FFFFFF;
border: 3px solid #FF910F;
box-sizing: border-box;
border-radius: 8px;
padding: 5px;
background-color: orangered;
    color: white;
}

.qotationbutton:hover{
    background-color: orangered;
    color: white;
}
#spiner{
    text-align: center;
    display: none;
}
.bf{
    text-align: end;
    padding-top: 20px;
}
#qotform{
    box-shadow: 1px 1px 15px 3px #e7e7e7;
    padding: 20px;
    border-radius: 10px;
}
/*@media screen and (max-width:800px){

   
}*/